.front-page {
  margin: 0 auto;
  padding: 48px 20px;
  max-width: 600px;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  h1 {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 32px;
  }

  h2 {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 20px;
  }
}
